.container {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 20%;
    height: 25vh;
    margin-right: 1.5%;
    margin-bottom: 1.5%;
    margin-top: 1.5%;
    margin-left: 1.5%;
    padding-top: 5%;
    border-radius: 20px;
    overflow: hidden;
    background-color: white;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}
.img{
    position: relative;
    bottom: 20%;
    width: 95%;
    height: 30vh;
    border-radius: 5px;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}
.title{
    height: 10% ;
    text-align: center;
    justify-content: center;
    align-items: center;
    position: relative;
    bottom: 10%;
}

  /* RESPONSIVE DESIGN*/
  
  /*cellphone Xl*/
  @media screen and (min-width: 260px) {
    .container {
        width: 80%;
        height: 25vh;
        margin-right: 1.5%;
        margin-bottom: 1.5%;
        margin-top: 1.5%;
        margin-left: 1.5%;
        padding-top: 5%;

    }

}

/*cellphone Xl*/
@media screen and (min-width: 480px) {

}

/*Tablet*/
@media screen and (min-width: 767px) {
    .container {
        width: 40%;
        height: 25vh;
        margin-right: 1.5%;
        margin-bottom: 1.5%;
        margin-top: 1.5%;
        margin-left: 1.5%;
        padding-top: 5%;
    }

}

@media screen and (min-width: 920px) {
    .container {
        width: 30%;
        height: 25vh;
        margin-right: 1.5%;
        margin-bottom: 1.5%;
        margin-top: 1.5%;
        margin-left: 1.5%;
        padding-top: 5%;
    }

}

/*Web*/
@media screen and (min-width: 1020px) {
    .container {
        width: 20%;
        height: 25vh;
        margin-right: 1.5%;
        margin-bottom: 1.5%;
        margin-top: 1.5%;
        margin-left: 1.5%;
        padding-top: 5%;
    }

}